@charset "ISO-8859-1";

    body {
  font-family: Arial, sans-serif;
  margin: 0;
  
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 83px;
  left: 0;
  background-color: #008b8b;
  padding-top: 20px;
  border-right: 2px solid black;

}

.sidenav a, .dropdown-btn {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 88%;
  text-align: left;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  background-color: #0abab5 ;
}

.container {
  display: none;
  background-color: #008b8b;
  padding-left: 8px;
}

.arrow {
  float: right; 
  padding-right: 8px;
} 

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block; 
  padding: 3px;
  transform: rotate(45deg);
} 

.active .arrow{
  transform: rotate(-135deg);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #008b8b;
  padding: 10px 20px;
  height: 63px;
  border-bottom: 2px solid black;
}  
h1 {
  color: white;
  margin-left: 16%;
  }
  
.profile img{
	 height: 68px;
     margin-left: -40%;
     margin-top: 0%;
     border-radius: 50%;
}
.margin-left {
	margin-left: 30px;
}
.home{
	margin-left: -55%;
}
.task {
	margin-left: -36%;
}
.tasks {
	margin-left: -65%;
}
.leaver{
	margin-left: -62%;
}
.logouts {
	margin-left: -38%;
}
.box1{
	position: absolute;
	top:  17%;
	left: 18%;
	height: 15%;
    width: 25%;
	background-color: #2e8b57;
	border-radius: 20px;	
}
.p1 {
	 height: 80px;
     margin-left: 5%;
     margin-top: -17%;
     color: white;
     font-size: 20px;
     text-decoration:none;
}
.icons2 {
	font-size: 70px; 
	margin-left: 73%;
	margin-top: 5%;
}
.box2 {
	position: absolute;
	top:  17%;
	left: 45%;
	height: 15%;
    width: 25%;
	background-color: #f0e130;
	border-radius: 20px;
}
.icons1{
	font-size: 70px; 
	margin-left: 73%;
	margin-top: 5%; 
}
.p2 {
	 height: 80px;
     margin-left: 5%;
     margin-top: -17%;
     color: white;
     font-size: 20px;
}
.box3 {
	position: absolute;
	top:  17%;
	left: 73%;
	height: 15%;
    width: 25%;
	background-color: #4169e1 ;
	border-radius: 20px;
}
.icons{
	font-size: 70px; 
	margin-left: 73%;
	margin-top: 5%;  
}
.p3 { 
     color: white;
     font-size: 20px;
     margin-left: 5%;
     margin-top: -17%;	
}