<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AddEMP</display-name>
    <servlet-name>AddEMP</servlet-name>
    <servlet-class>AddEMP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEMP</servlet-name>
    <url-pattern>/AddEMP</url-pattern>
  </servlet-mapping>
  <display-name>Employee_Tracking_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>admin_login</display-name>
    <servlet-name>admin_login</servlet-name>
    <servlet-class>admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_login</servlet-name>
    <url-pattern>/admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindash</display-name>
    <servlet-name>admindash</servlet-name>
    <servlet-class>admindash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindash</servlet-name>
    <url-pattern>/admindash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>alldepartmentlist</display-name>
    <servlet-name>alldepartmentlist</servlet-name>
    <servlet-class>alldepartmentlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alldepartmentlist</servlet-name>
    <url-pattern>/alldepartmentlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allemployee</display-name>
    <servlet-name>allemployee</servlet-name>
    <servlet-class>allemployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allemployee</servlet-name>
    <url-pattern>/allemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeelogin</display-name>
    <servlet-name>employeelogin</servlet-name>
    <servlet-class>employeelogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeelogin</servlet-name>
    <url-pattern>/employeelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inprocesstaskemp</display-name>
    <servlet-name>inprocesstaskemp</servlet-name>
    <servlet-class>inprocesstaskemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inprocesstaskemp</servlet-name>
    <url-pattern>/inprocesstaskemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leave</display-name>
    <servlet-name>leave</servlet-name>
    <servlet-class>leave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leave</servlet-name>
    <url-pattern>/leave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leaverequest</display-name>
    <servlet-name>leaverequest</servlet-name>
    <servlet-class>leaverequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leaverequest</servlet-name>
    <url-pattern>/leaverequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>task</display-name>
    <servlet-name>task</servlet-name>
    <servlet-class>task</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>task</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tasksubmitformemp</display-name>
    <servlet-name>tasksubmitformemp</servlet-name>
    <servlet-class>tasksubmitformemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tasksubmitformemp</servlet-name>
    <url-pattern>/tasksubmitformemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newdepart</display-name>
    <servlet-name>Newdepart</servlet-name>
    <servlet-class>Newdepart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newdepart</servlet-name>
    <url-pattern>/Newdepart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editemp</display-name>
    <servlet-name>editemp</servlet-name>
    <servlet-class>editemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editemp</servlet-name>
    <url-pattern>/editemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editdepart</display-name>
    <servlet-name>editdepart</servlet-name>
    <servlet-class>editdepart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editdepart</servlet-name>
    <url-pattern>/editdepart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewprocessing</display-name>
    <servlet-name>viewprocessing</servlet-name>
    <servlet-class>viewprocessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewprocessing</servlet-name>
    <url-pattern>/viewprocessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showalltask</display-name>
    <servlet-name>showalltask</servlet-name>
    <servlet-class>showalltask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showalltask</servlet-name>
    <url-pattern>/showalltask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeenewtask</display-name>
    <servlet-name>employeenewtask</servlet-name>
    <servlet-class>employeenewtask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeenewtask</servlet-name>
    <url-pattern>/employeenewtask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancel_leave</display-name>
    <servlet-name>cancel_leave</servlet-name>
    <servlet-class>cancel_leave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancel_leave</servlet-name>
    <url-pattern>/cancel_leave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contacthome</display-name>
    <servlet-name>contacthome</servlet-name>
    <servlet-class>contacthome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contacthome</servlet-name>
    <url-pattern>/contacthome</url-pattern>
  </servlet-mapping>
</web-app>